<p-dialog
  header="Create a Task"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ maxWidth: '30rem' }"
  [dismissableMask]="true"
>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="flex items-center gap-4 mb-4">
      <label for="taskname" class="font-semibold w-24">Task Title</label>
      <input pInputText id="taskname" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-8">
      <label for="description" class="font-semibold w-24">Duration</label>
      <p-datepicker
        formControlName="duration"
        [iconDisplay]="'input'"
        [showIcon]="true"
        [timeOnly]="true"
        inputId="templatedisplay"
        [stepMinute]="5"
        [hourFormat]="'24'"
        [readonlyInput]="true"
      >
        <ng-template #inputicon let-clickCallBack="clickCallBack">
          <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
        </ng-template>
      </p-datepicker>

      <div *ngIf="taskForm.get('duration')?.errors?.['notMultipleOf5']" class="text-red-500 mt-1">
        Minutes must be divisible by 5
      </div>
    </div>
    <div class="flex items-center gap-4 mb-8">
      <label for="description" class="font-semibold w-24">Description</label>
      <input pInputText id="description" class="flex-auto" autocomplete="off" />
    </div>

    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="dialogService.closeDialog()" />
      <p-button
        label="Save Task"
        (click)="dialogService.closeDialog()"
        [disabled]="taskForm.invalid"
      />
    </div>
  </form>
</p-dialog>
