<p-dialog
  header="Edit Profile"
  [modal]="true"
  [visible]="visible()"
  [hidden]="!visible()"
  [style]="{ width: '25rem' }"
>
  <span class="p-text-secondary block mb-8">Please add a task.</span>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="flex items-center gap-4 mb-4">
      <label for="taskname" class="font-semibold w-24">Task Title</label>
      <input pInputText id="taskname" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-8">
      <label for="description" class="font-semibold w-24">Duration</label>
      <input pInputText id="description" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-8">
      <label for="description" class="font-semibold w-24">Description</label>
      <input pInputText id="description" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-8">
      <label for="end" class="font-semibold w-24">Loaction</label>
      <input pInputText id="end" class="flex-auto" autocomplete="off" />
    </div>

    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="dialogService.closeDialog()" />
      <p-button label="Save Task" (click)="dialogService.closeDialog()" />
    </div>
  </form>
</p-dialog>
