/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./app/shared/styles/_icons.scss');

html.dark body {
  @apply bg-gray-900 text-gray-100; /* dark mode override */
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  min-height: 100dvh;
  background-color: #eee;
  position: relative;
}
